<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Grid</title>
  <meta name="description" content="Basic Grid">
  <meta name="keywords" content="html, css,floats, float left, float right, clearfix, simple grid">  
  <meta name="author" content="Intro to Web"> 
    
  <!-- THIS IS A LINK TO THE EXTERNAL .CSS --> 
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/layout.css">
        
</head>
    

<body>

<div style="max-width:1000px;width:100%">



  <div class="side_bar">
    <img src="img/yoga.jpg" />
    <span class="section">EXECUTIVES</span></br>
    Cartoon Network Studios Hires Lauren Martinez, Promotes Kelly Crews To Executive Team

  </div>
  
    <div class="side_bar">
    <img src="img/pila.jpg" />
    <span class="section">EXECUTIVES</span></br>
    Cartoon Network Studios Hires Lauren Martinez, Promotes Kelly Crews To Executive Team

  </div>
    <div class="side_bar">
    <img src="img/med.jpg" />
    <span class="section">EXECUTIVES</span></br>
    Cartoon Network Studios Hires Lauren Martinez, Promotes Kelly Crews To Executive Team

  </div>
    
   




HERO SECTION
  <div class="hero_content">
     <img src="img/te.jpg" alt="tech"/>
     <p class="hero_text_headline">
     INTRODUCING ALO MOVES XR
     </p>
     <p>
      A virtual wellness sanctuary that seamlessly blends your space with immersive natural landscapes. Take your fitness and mindfulness goals to the next level of reality with volumetrically captured 3D instructors, advanced room mapping, and 360-degree mini instructors you can view from all angles for a more effective workout.
     </p>
  </div>

</div>
</body>
</html>
 