<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Grid</title>
  <meta name="description" content="Basic Grid">
  <meta name="keywords" content="html, css,floats, float left, float right, clearfix, simple grid">  
  <meta name="author" content="Intro to Web"> 
    
  <!-- THIS IS A LINK TO THE EXTERNAL .CSS --> 
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/layout.css">
    
</head>
    

<body>

<div class="outer">
    <div class="topnav">
        HOME   
    </div>
    <div class="page">
    <div class="container">
        
       
        
        <!-- another row --> 
        <div class="row">
            <div class="col-6">
                <div class="hero_content">
                    <img src="img/te.jpg" alt="tom & jerry"/>
                    <p class="hero_text_headline">
                    INTRODUCING ALO MOVES XR
                    </p>
                    <p>
                    A virtual wellness sanctuary that seamlessly blends your space with immersive natural landscapes. Take your fitness and mindfulness goals to the next level of reality with volumetrically captured 3D instructors, advanced room mapping, and 360-degree mini instructors you can view from all angles for a more effective workout.
                    </p>
                </div>
            </div>
            <div class="col-5">
                <!--SIDE BAR -->
                <div class="side_bar">
                    <img src="img/yoga.jpg" />
                    <span class="section">YOGA</span></br>
                    Stretch out your tension with flowing movement for balance, flexibility, and inner connection.

                </div>
                <!--SIDE BAR END -->
                <!--SIDE BAR -->
                <div class="side_bar">
                    <img src="img/pila.jpg" />
                    <span class="section">PILATES</span></br>
                    Sculpt your muscles and build deep core strength in this low-impact workout for all levels.

                </div>
                <!--SIDE BAR END -->
                <!--SIDE BAR -->
                <div class="side_bar">
                    <img src="img/med.jpg" />
                    <span class="section">MEDITATION</span></br>
                    Unwind from your day with meditations and sound baths for focus, sleep, and stress relief.
                </div>
                


                </div>
                <!--SIDE BAR END -->
            </div>
        </div>
 
  <!-- another row --> 
        <div class="row">
            <div class="col-12">
                col-12
            </div>
            
        </div>
 

        
    </div>
  </div>
</div>


</body>

</html>
 