body{
	margin:0;
	padding:0;
  background-color: #fff;

}

.navbar{
  position: sticky;
  top: 0;
  width: 100%;
  heigh: 100px;
  background-color: #fff;
  z-index: 100;
  display: flex; 
  align-items: center;
  justify-content: flex-start;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  text-align: left;
}
.tile{
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
}

.tile1{
  background-image: url("img/out.jpg");
  height:550px;
}
.tile2{
  background-image: url("img/trend.jpg"); 
  height:650px;
}
.tile3{
  background-image: url("img/act.jpg");
  height:600px;
}
.tile4{
  background-image: url("img/color.jpg");
  height:650px;
}
.tile5{
  background-image: url("img/wellness.jpg");
  height:580px;
}

.tile6{
  background-image: url("img/sup.jpg");
  height:600px;
}

.outer{
  text-align: center;
}

.page{
	position:relative;
	margin-top:0px;
	background-color: #FFF;
  max-width:1200px;
  width:100%;
  height:100%;
  display: inline-block;
  text-align: left;
  height:100%;
  opacity: .6;
}
a{
  color:black;
  font-size:16px;
  text-decoration: none;
  margin-right:50px;
  font-family: "sofia-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

a:hover {
  color:blue;  
 }
  a:active {
  color:#CCC;
}
.content{
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  text-align: left;
}
.nav{
  font-family: sans-serif;
   margin-left:10px;
   margin-top:10px;
   text-align: left;
}
.topofpage{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: flex-start;
    height:100px;
 
}
.logo{
  max-width: 100px;
  margin-left: 0;
}
.logo_img{
  width:100%;
}

.search, .bag{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;

}
.search_img, .bag_img{
  width: 35%;
}

}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.out_img{
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  text-align: center;

}

@media screen and (max-width: 850px){

  body{
    background-color: orange;
  }

  .page{
    max-width: 480px;
  }

  .menu{
    display: inline-block;
  }

  .logo{
    display: none;
  }
 

}

@media screen and (min-width: 850px) and (max-width: 1250px){
  body{
    background-color: #000;
  }

  .page{
    max-width:800px;
  }
  }
  }
}
